#root {
  margin: 0;
  padding: 0;
  height: 100%;
  --color-primario: #26326C;
  /* Azul Oscuro*/
  --color-secundario: #406391;
  /* Azul Claro */
  --color-terciario: #C6A37A;
  /* Arcilla */
  --color-cuaternario: #BBB3A8;
  /* Gris Tierra */
  --color-quintenario: #425220;
  /* Verde Oliva */
  --color-fuente-dark: white;
  /* Blanco */
  --color-fuente-light: black;
  /*Negro */
  --color-fondo-light: white;
  /*Blanco*/
  --font-logo: 'Open Sans', sans-serif;
  --font-title: 'Merriweather Sans', sans-serif;
  --font-subtitle: 'PT Sans', sans-serif;
  --font-text: 'Lato', sans-serif;
}

body {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-fondo-light);
  color: black;
}

/* Establece un estilo para el contenedor principal de la aplicación */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-fondo-light);
}

/* hace que el contenido principal ocupe el resto de la pantalla */
.main-content {
  flex-grow: 1;
}

/*Menu Bar*/

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-fondo-light);
  padding: 0.5rem 1.5rem;
}

nav .logo {
  font-weight: 700;
}

.header-brand {
  display: flex;
  justify-content: left;
  align-items: center;
}

.brand {
  color: var(--color-secundario);
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--font-logo);
}

.logoEcoPre {
  width: 100px;
}

nav li {
  padding: 0.5rem;
  border-radius: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

nav ul li a {
  text-decoration: none;
  color: var(--color-primario);
  font-family: var(--font-title);
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.7s;
}

nav ul li:hover {
  background-color: var(--color-secundario);
}

nav ul li:hover a {
  color: var(--color-fuente-dark);
}

nav #toggle,
nav label {
  display: none;
}

/*End Menu Bar*/

/*Main*/
.section-light {
  display: flex;
  justify-content: center;
  background-color: var(--color-secundario);
}

.section-dark {
  display: flex;
  justify-content: center;
  background-color: var(--color-primario);
}

.card-title {
  text-align: center;
  font-family: var(--font-title);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: var(--color-fuente-dark);
  padding-top: 10px;
  margin: 0px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0px;
  max-width: 960px;
  width: 100%;
}

.card-text {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0px;
  width: 50%;
  min-width: 375px;
}

.card-text p {
  font-family: var(--font-text);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-fuente-dark);
}

.card-img {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0px;
  width: 50%;
  min-width: 375px;
  order: 1;
}

.card-img img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.importante { 
  font-weight: 700;
  color: var(--color-terciario);
}

/*End Main/

/*Galeria*/

.p-galleria-thumbnail-item-content {
  overflow-x: hidden;
}

.container-gallery {
  height: 80vh;
  background-color: var(--color-cuaternario);
}

.gallery {
  margin: auto;
  border: 2px solid black;
  
}

.p-galleria-thumbnail-wrapper {
  display: none !important;
}

/*End Galeria*/

/*footer*/
footer {
  width: 100%;
  margin: 0px;
  background-color: var(--color-secundario);
}

footer p {
  font-family: var(--font-text);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: var(--color-fuente-dark);
  padding: 0px;
  margin: 0px;
}

footer ul {
  list-style: none;
  gap: 0.5rem;
}

footer ul li a {
  text-decoration: none;
  color: var(--color-fuente-dark);
  font-family: var(--font-subtitle);
  font-weight: 400;
  font-size: 1rem;
  transition: color 0.3s;
}

footer ul li:hover a {
  color: var(--color-primario);
  font-weight: 700;
}

.footerContainer {
  color: var(--color-fuente-dark);
  width: 100%;
  margin: 0px;
}

.logoEcoPreFooter {
  width: 150px;
}

.top-footer {
  background-color: var(--color-secundario);
  height: 100px;
}

.bottom-footer {
  background-color: var(--color-secundario);
  height: 100%;
}

.footer__copyright {
  font-size: 0.8rem;
  text-align: center;
  padding: 10px;
}

.footer__nombre {
  font-size: 0.8rem;
  text-align: center;
  padding: 10px;
}

.redes_sociales {
  text-align: center;
  height: 3rem;
}

.redes_logos {
  margin-left: 20px;
  width: 1.4rem;
  color: var(--color-fuente-dark);
  padding-top: 3px;
  transition: transform 0.5s;
}

.redes_logos:hover {
  color: var(--color-primario);
  transform: scale(1.5);
}

.red-icon {
  width: 2.5rem;
  height: 2.5rem;
}

/*end footer*/

/*Media Queries*/
/*Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .footerContainer {
    height: 280px !important;
    margin: 0px;
  }

  .footer__nombre {
    font-size: 0.8rem;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 0;
  }

  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
  }

  .menu-toggle {
    cursor: pointer;
  }

  .icon-menu .material-icons {
    font-weight: 500;
    font-size: 2.2rem;
    color: var(--color-secundario);
  }

  .closed {
    display: none;
  }

  .open {
    width: 100%;
    height: 100%;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
  }

  nav ul li {
    display: flex;
    justify-content: center;
    width: 250px;
  }

  nav label {
    display: inline-flex;
    color: white;
    cursor: pointer;
  }

  /* nav #toggle:checked ~ .menu {
    height: 100%;
  } */

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .footerContainer {
    height: 190px !important;
    margin: 0px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .footerContainer {
    height: 150px !important;
    margin: 0px;
  }
  /*Main*/
  .card-img {
    order: 0;
  }
  .card-text {
    order: 0;
  }
  /*End Main*/
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .footerContainer {
    height: 150px !important;
    margin: 0px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .footerContainer {
    height: 130px !important;
    margin: 0px;
  }
}


/*contacto*/

.container-contacto {
  display: flex;
  margin: 30px auto;
  justify-content: space-between;
  align-items: center;
  max-height: 600px;
  max-width: 1000px;
  background-color: var(--color-secundario);
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.titulo-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #26326C;
  border-radius: 10px 0 0 10px;
  height: 600px;
  width: 500px;
}

.titulo-contacto h1 {
  font-family: 'Merriweather Sans', sans-serif;
  color: white;
}

.titulo-contacto p {
  color: white;
  font-family: 'PT Sans', sans-serif;
}

.container-form-contacto {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 30px;
  height: 600px;
  width: 500px;

}

.container-form-contacto p {
  position: absolute;
  margin-top: 15px;
  top: 2px;
  font-size: 26px;
  color: white;
  font-family: 'PT Sans', sans-serif;
}


.form-contacto {
  position: relative;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form-contacto label {
  color: white;
  font-family: 'PT Sans', sans-serif;
}

.form-contacto div {
  display: flex;
  flex-direction: column;
}

.form-contacto input {
  font-family: 'Lato', sans-serif;
  color: white;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid white;
  width: 100%;
  box-shadow: 0 0 0px 1000px var(--color-secundario) inset;
  -webkit-text-fill-color: white;
}

.areaTexto {
  font-family: 'PT Sans', sans-serif;
  color: white;
  background-color: var(--color-secundario);
  resize: none;
  border: 1px solid white;
  outline: none;
  
}

.botonEnviar-mensaje {
  position: absolute;
  right: 1px;
  bottom: 10px;
  width: 200px;
  background-color: var(--color-primario);
  border-radius: 28px;
  border: 1px solid var(--color-primario);
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  padding: 10px 21px;
  text-decoration: none;
  text-shadow: 0px 1px 0px var(--color-secundario);
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
}

@media (max-width: 767px) {
  .container-contacto {
    flex-direction: column;
    margin:18px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
  }
  
  .container-form-contacto {
    flex-direction: column; 
    align-items: center;
  }
  
  .titulo-contacto {
    width: 100%;
    align-items: center;
    font-size: 10px;
    border-radius: 10px 10px 0 0;
  }
  
  .titulo-contacto p {
    margin: auto ;
    padding-top: 8px;
    font-size: 14px;
  }
  
  .container-form-contacto {
    margin: 0;
    width: 30px;
  }
  
  .container-form-contacto p {
    font-size: 20px;
  }
  
  .container-form-contacto input {
    width: 100%;
    margin-bottom: 38px;
  }
  
  .form-contacto input:focus {
    font-size: 16px; /* Cambia el tamaño del texto cuando el input está seleccionado */
  }
  
  .container-form-contacto label {
    width: 100%;
    font-size: 14px;
  }
  
  .form-contacto {
    width: 260px;
    display: inline-block;
    margin-top: 80px;
  }
  .botonEnviar-mensaje{
    left:30px;
    bottom: 130px;
  }.container-gallery{
    height:440px;
  }
}