#root {
  margin: 0;
  padding: 0;
  height: 100%;
  --color-primario: #26326C; /* Azul Oscuro*/
  --color-secundario: #406391; /* Azul Claro */
  --color-terciario: #C6A37A; /* Arcilla */
  --color-cuaternario: #BBB3A8; /* Gris Tierra */
  --color-quintenario: #425220; /* Verde Oliva */
  --color-fuente-dark: white; /* Blanco */
  --color-fuente-light: black; /*Negro */
  --color-fondo-light: white; /*Blanco*/
  --font-title: 'Merriweather Sans', sans-serif;
  --font-subtitle: 'PT Sans', sans-serif;
  --font-text: 'Lato', sans-serif;
}

body {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-fondo-light);
  color: black;
}  

/* Establece un estilo para el contenedor principal de la aplicación */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-fondo-light);
}

/* hace que el contenido principal ocupe el resto de la pantalla */
.main-content {
  flex-grow: 1;
}

/*Menu Bar*/

.wrapper {
  width: 100%;
  margin: 0 auto;
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-fondo-light);
  padding: 0.5rem 1.5rem;
}
nav .logo {
  font-weight: 700;
}

.header-brand {
  display: flex;
  justify-content: left;
  align-items: center;
}

.brand{
  color: var(--color-secundario);
  font-size: 1.5rem;
  font-weight: 600;
}

.logoEcoPre{
  width: 80px;
}

nav li {
  padding: 0.5rem;
  border-radius: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}
nav ul li a {
  text-decoration: none;
  color: var(--color-primario);
  font-family: var(--font-title);
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.7s;
}
nav ul li:hover {
  background-color: var(--color-secundario);
}

nav ul li:hover a{
  color: var(--color-fuente-dark);
}

nav #toggle,
nav label {
  display: none;
}

/*End Menu Bar*/

/*Main*/
.section-light{
  background-color: var(--color-secundario);
}
.section-dark{
  background-color: var(--color-primario);
}
.card-title{
  text-align: center;
  font-family: var(--font-title);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: var(--color-fuente-dark);
  padding-top: 10px;
  margin: 0px;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0px;
  width: 100%;
}

.card-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0px;
  width: 50%;
  min-width: 375px;
}

.card-text p{
  font-family: var(--font-text);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-fuente-dark);
}

.card-img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0px;
  width: 50%;
  min-width: 375px;
}

.card-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

p {
  font-family: var(--font-text);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-fuente-light);
}

/*End Main/

/*footer*/
footer{
  width: 100%;
  margin: 0px;
  background-color: var(--color-secundario);
}

footer p {
  font-family: var(--font-text);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: var(--color-fuente-dark);
  padding: 0px;
  margin: 0px;
}

footer ul {
  list-style: none;
  gap: 0.5rem;
}

footer ul li a {
  text-decoration: none;
  color: var(--color-fuente-dark);
  font-family: var(--font-subtitle);
  font-weight: 400;
  font-size: 1rem;
  transition: color 0.3s;
}

footer ul li:hover a{
  color: var(--color-primario);
  font-weight: 700;
}

.footerContainer{
  color: var(--color-fuente-dark);
  width: 100%;
  margin: 0px;
}

.logoEcoPreFooter{
  width: 150px;
}
.top-footer{
  background-color: var(--color-secundario);
  height: 100px;
}

.bottom-footer{
  background-color: var(--color-secundario);
  height: 100%;
}

.footer__copyright{
  font-size: 0.8rem;
  text-align: center;
  padding: 10px;
}

.footer__nombre{
  font-size: 0.8rem;
  text-align: center;
  padding: 10px;
}

.redes_sociales{
  text-align: center;
  height:3rem;
}

.redes_logos{
  margin-left: 20px;
  width: 1.4rem;
  color: var(--color-fuente-dark);
  padding-top: 3px;
  transition: transform 0.5s;
}

.redes_logos:hover{
  color: var(--color-primario);
  transform: scale(1.5);
}

.red-icon {
  width: 2.5rem; height: 2.5rem;
}

/*end footer*/

/*Media Queries*/
/*Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .footerContainer {
    height: 280px !important; 
    margin: 0px;
  }
  .footer__nombre{
    font-size: 0.8rem;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 0;
  }

  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
  }

  .menu-toggle {
    cursor: pointer;
  }
  .icon-menu .material-icons {
    font-weight: 500;
    font-size: 2.2rem;
    color: var(--color-secundario);
  }

  .closed {
    display: none;
  }

  .open{
    width: 100%;
    height: 100%;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
  }

  nav ul li {
    display: flex;
    justify-content: center;
    width: 250px;
  }
  nav label {
    display: inline-flex;
    color: white;
    cursor: pointer;
  }
  /* nav #toggle:checked ~ .menu {
    height: 100%;
  } */

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .footerContainer {
    height: 190px !important; 
    margin: 0px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .footerContainer {
    height: 150px !important; 
    margin: 0px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .footerContainer {
    height: 150px !important; 
    margin: 0px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .footerContainer {
    height: 130px !important; 
    margin: 0px;
  }
}


